.blog .card{
    
    height: 426px !important;
}
.blog .card img{
    
    height: 297px !important;
}

.next{
    margin-top: 3px solid rgba(128, 128, 128, 0.541) !important;
    padding: 20px 5px;
}




/* footer */
.footer-tile{
    color: #fcb416;
    font-size: 24px;
    margin-bottom: 15px;
}
.footer-list{
    padding-left: 0 !important;
    margin-left: 0px !important;
}

.footer-list li{
    list-style: none;
    
    margin-bottom: 20px !important;
}
.footer-list li a{
    text-decoration: none !important;
    color: white !important ;
    font-size: 18px !important;
}
.footer-list li a:hover{
    background-color: none !important;
    color: white !important;
    
}

/* footer-last-part */
.footer-last-part{
    background-color: #191919;
}
.footer-last-part p{
    font-size: .8rem;
    margin: 0;
    color: white;
}
.footer-last-part p a{
    font-size: .8rem;
    margin: 0;
    color: white;
}
.footer-last-part button{
    color: #2d3436 !important;
    padding: 0.2rem 1.5rem;
    outline: none;
}
.footer-last-part button:hover{
    color: white !important;
    background-color: #44bd32 !important;
}


